md-grid-tile
{
	background-color: #01579b;
    font-weight: bold;
    color: white;
}

md-grid-tile:hover
{
	cursor: pointer;
}

.container
{
	margin: 0 auto;
	max-width: 500px;
    margin-top: 50px;
}

.question
{
	text-align: center;
}

.progress
{
	height: 20px;
}

.information
{
	display: flex;
}

.information > span
{
	width: 50%;
	display: inline-block;
}

#question-container
{
    transition: transform 500ms;
}

.rotate
{
    transform: rotateX(180deg);
    position: relative;
}

.game-over, .win
{
    color: white;
    font-weight: bold;
    position: relative;
    transform: rotateX(0deg);
    transition: transform 0ms !important;
}

.rotate:before, .game-over:before, .win:before
{
    content: '';
    width: 100%;
    height: 100%;
    line-height: 250px;
    text-align: center;
    position: absolute;
    z-index: 2;
    background-color: #01579b;
}

.game-over:before
{
    content: 'Game over';
}

.win:before
{
    content: 'You WIN!';
}

.hurry .md-container
{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink
{
    0% { background-color: red; }
    50% { background-color: yellow }
}