md-grid-tile
{
	background-color: #01579b;
    font-weight: bold;
    color: white;
}

md-grid-tile:hover
{
	cursor: pointer;
}

.container
{
	margin: 0 auto;
	max-width: 500px;
    margin-top: 50px;
}

.question
{
	text-align: center;
}

.progress
{
	height: 20px;
}

.information
{
	display: flex;
}

.information > span
{
	width: 50%;
	display: inline-block;
}

#question-container
{
    transition: transform 500ms;
}

.rotate
{
    transform: rotateX(180deg);
    position: relative;
}

.rotate:before
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #01579b;
}